<!-- header -->
<div class="header_container">
    <div class="top_header">
        <div class="sidepanel_icon">
            <a href="" ng-click="openSidepanel()" class="sidenav-trigger">
                <img src="img/SameletDots.svg" alt="samelet_logo_icon">
            </a>
        </div>
        <div class="title">
            PC/LCV
        </div>
        <div class="home_icon">
            <a href="" ng-click="clearAll()"><img src="img/repeat.svg" alt="Home_icon"></a>
        </div>
    </div>
    <div class="bottom_header">
        <div class="filters_container">
            <div class="row top_filters">
                <div class="col s4 fiter_div">
                    <div class="label">PC/LCV</div>
                    <div class="qvobject top_filter" id="pcv_lcv"></div>
                </div>
                <div class="col s4 fiter_div">
                    <div class="label">Dome/Expo</div>
                    <div class="qvobject top_filter" id="domo_expo"></div>
                </div>
                <div class="col s4 fiter_div">
                    <div class="label">Dealer</div>
                    <div class="qvobject top_filter" id="dealer"></div>
                </div>
            </div>
        </div>
        <div class="page_title">
            <div class="main_title">
                <div class="main_title_container"></div>
                <div class="main_title_image">
                    <img src="img/autoItalia.png" alt="AutoItalia Logo">
                </div>
            </div>
            <div class="date">
                <div class="label">Date: </div>
                <div class="qvobject datetime" id="datetime"></div>
            </div>
        </div>
    </div>
</div>