<!-- invoices table for container -->
<div class="container_table invoice_container_table">
  
    <div class="title_table">
      <div class="tr empty"></div>
      <div class="tr empty"></div>
      <div class="tr total_tr">total</div>
      <div class="tr">PC</div>
      <div class="tr">PCV</div>
    </div>
    
    <div class="table daily_table">
      <div class="tr head_column">
        DAILY
      </div>
      <div class="tr bottom_head">
         <div class="th">Inv.</div>
         <div class="th">Targ.</div>
         <div class="th">%</div>
      </div>
      <div class="tr totals">
         <div class="th">45</div>
          <div class="th">64</div>
          <div class="th">12%</div>
      </div>
      <div class="tr body_row">
          <div class="td">775</div>
          <div class="td">507</div>
          <div class="td">15.3%</div>
      </div>
       <div class="tr body_row">
          <div class="td">775</div>
          <div class="td">507</div>
          <div class="td">15.3%</div>
      </div>
    </div>
    
    <div class="table month_table">
      <div class="tr head_column">MONTHLY</div>
       <div class="tr bottom_head">
         <div class="th">Inv.</div>
         <div class="th">Targ.</div>
         <div class="th">%</div>
      </div>
       <div class="tr totals">
         <div class="th">45</div>
          <div class="th">64</div>
          <div class="th">12%</div>
      </div>
      <div class="tr body_row">
          <div class="td">775</div>
          <div class="td">507</div>
          <div class="td">15.3%</div>
      </div>
       <div class="tr body_row">
          <div class="td">775</div>
          <div class="td">507</div>
          <div class="td">15.3%</div>
      </div>
    </div>
    
    <div class="table year_table">
      <div class="tr head_column">YEARLY</div>
       <div class="tr bottom_head">
         <div class="th">Inv.</div>
         <div class="th">Targ.</div>
         <div class="th">%</div>
      </div>
       <div class="tr totals">
         <div class="th">45</div>
          <div class="th">64</div>
          <div class="th">12%</div>
      </div>
      <div class="tr body_row">
          <div class="td">775</div>
          <div class="td">507</div>
          <div class="td">15.3%</div>
      </div>
       <div class="tr body_row">
          <div class="td">775</div>
          <div class="td">507</div>
          <div class="td">15.3%</div>
      </div>
    </div>
    
</div>