<!-- contract table for container -->
<!-- <p>{{table_data_json}}</p> -->
<div class="container_table contracts_container_table">
  <div class="title_table">
      <div class="tr empty"></div>
      <div class="tr total_tr">Total</div>
      <div class="tr" title="{{row[0].qText}}" ng-repeat="row in table_data.data">{{row[0].qText}}</div>
    </div>
    
    <div class="table daily_table">
      <div class="tr head_column">
        DAILY
      </div>
      <div class="tr totals">
          <div class="th">{{table_data.totals[0].qText}}</div>
      </div>
      <div class="tr body_row" ng-repeat="row in table_data.data">
        <div class="td" style="color: {{table_data.colors[0].color}}">{{row[1].qText}}</div>
      </div>
    </div>
    
    <div class="table month_table">
      <div class="tr head_column">MONTHLY</div>
      <div class="tr totals">
          <div class="th" style="color: {{table_data.colors[1].color}}">{{table_data.totals[1].qText}}</div>
      </div>
      <div class="tr body_row" ng-repeat="row in table_data.data">
        <div class="td" style="color: {{table_data.colors[1].color}}">{{row[2].qText}}</div>
      </div>
    </div>
    
    <div class="table year_table">
      <div class="tr head_column">YEARLY</div>
      <div class="tr totals">
          <div class="th">{{table_data.totals[2].qText}}</div>
      </div>
      <div class="tr body_row" ng-repeat="row in table_data.data">
        <div class="td" style="color: {{table_data.colors[2].color}}">{{row[3].qText}}</div>
      </div>
    </div>
</div>
